.post-new-wrapper{
  padding: 10px 50px;
  .post-new-box{
    display: flex;
    .post-new-box-left{
      width: 30%;
      margin-right: 10px;
      .img-preview{
        text-align: center;
        padding: 15px 0;
        .is-img{
          height: 300px;
          width: 300px;
        }
      }
    }
    .post-new-box-right{
      width: 70%;
      .post-new-title{
        margin-bottom: 10px;
      }
      .post-new-detail{
        height: 80vh;
        display: flex;
        #body-input{
          height: 100%;
        }
        .post-new-material{
          margin-left: 10px;
          width: 60%;
          position: relative;
          .post-page-footer{
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
      }
    }
  }
}