nav {
  background-color: #FFCC00 !important;
  #Navber {
    .navbar-nav {
      .nav-item {
        #post-link {
          background-color: #FF9900;
          border-radius: 5px;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }
  }
}