.logo{
  background-image: url('../images/logo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 200px;
  height: 50px;
}

nav {
  background-color: #FFCC00 !important;
  #Navber {
    .navbar-nav {
      .nav-item {
        #post-link {
          background-color: #FF9900;
          border-radius: 5px;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }
  }
}