.top-wrapper {
  background-color: #F6F6F6;
  padding: 40px 0px;
  .foods-wrapper {
    background-image: url('../images/refrigerator.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: calc(100vh - 100px);
    min-height: 600px;
    margin: 0px auto;
    padding: 20px;
    .food-box-wrap{
      height: 100%;
      justify-content: center;
      .category-box{
        background-color:rgba(246,246,246,0.7);
        .category-name{
          border-bottom: double 5px #FFC778;
          margin-bottom: 1.5rem;
        }
        .category-foods{
          .food-detail{
            height: 2.5rem;
            padding: 0.5em 1em;
            margin-bottom: 0.5rem;
            overflow: hidden;
            box-shadow: .25rem 0 .25rem hsla(0, 0%, 0%, .1);
            background-image:
              linear-gradient(90deg, hsla(0, 0%, 45%, .1) 2rem, hsla(0, 100%, 100%, 0) 2.5rem)
            , linear-gradient(90deg, hsla(60, 100%, 85%, 1), hsla(60, 100%, 85%, 1));
            line-height: 1.5rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: flex;
            justify-content: space-around;
          }
        }
      }
    }
  }
}

#logo-wrap{
  height: 200px;
  .login-logo{
    background-image: url('../images/logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 50px 50px 0 auto;
    opacity: 0.5;
  }
}

.post-button{
  margin-top: 30px;
  background-color: #FF9900;
  color: #ffffff;
}