.top-wrapper {
  background-color: #F6F6F6;
  padding: 40px 0px;
  .foods-wrapper {
    background-image: url('../images/refrigerator.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: calc(100vh - 100px);
    min-height: 600px;
    margin: 0px auto;
    padding: 20px;
    .food-box-wrap{
      background-color:rgba(246,246,246,0.7);
      height: 100%;
      .food-box {
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 10px;
        .food-data {
          border-bottom: solid 3px #F6F6F6;
          padding: 0 15px;
          text-align: center;
        }
      }
    }
  }
}

.post-button{
  margin-top: 30px;
  background-color: #FF9900;
  color: #ffffff;
}